CSS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    background-color: black;

}

header, nav, main, aside{
    display: flex;
    margin: 3px;
}footer{
    background-color: #000000;
    display: flex;
    margin: 0px;
    color: #f1f1f1;
    flex: 1 1 100vw;
    height: 60px;
    justify-content: center;
}
header, #menu{
    background-color: #000000d7;
}

header{
    flex: 1 1 100vw;
    height: 50px;
    color: #f1f1f1;
    

}#logo{
    flex: 0 1 200px;
    background-color: #c9c9c9;
}
#openMenu, #closeMenu{
	border:none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;

}

nav{
    flex: 1 1 200vw;
    align-items: center;
    justify-content: flex-end;

    a{
        text-decoration: none;
        color: inherit;
        margin: 15px;
        font-size: 20pt;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

}

main{
    flex: 20 1 500px;
    height: calc(100vh - 60px);
    flex-wrap: wrap;
    overflow: auto;
}

aside{
    flex: 1 1 200px;
    height: calc(100vh - 60px);
    flex-wrap: wrap;
    overflow: auto;
    
}

main{

    section{

        width: 100%;
        height: 800px; 
        margin: 10px;
        background-color: #1a1a1a;
        border-radius: 12px;
        color: white;
        text-align: justify;
        font-size: 20px;
        font-size: 1em; line-height: 1.5em;
        
    }
    
    background-image: linear-gradient(rgb(0, 0, 0), rgb(63, 63, 63), rgb(0, 0, 0));
}h1{
    color: #f1f1f1;
    margin: 1%;
    font-size: 20pt;
}h2{
    color: white;
    justify-content: left;
    align-items: center;
}main p{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}
aside{
    section{
        width: 100%;
        height: 1400px; 
        margin: 10px;
        background-color: #1a1a1a;
        border-radius: 12px;
        color: white;
        text-align: justify;
        
        
    }

    justify-content: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(63, 63, 63), rgb(0, 0, 0));

}aside p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
footer img{
    width: 40px;
    height: 40px;

}
footer a{
    margin: 20px;
    text-align: center;

}

@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu{
        display: block;
        color: white;

    }
    #openMenu{
        margin-left: auto;
    }

    #closeMenu{
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0px;
        display: none;
        opacity: 0;
        transition: 0.3s;

        a{
            margin: 10%;
        }
    }
    

}

@media only screen and (max-width: 923px) {
    header{
        order: 0;
    }

    main{
        height: calc(100vh - 65px);
        order: 1;
    }

    aside{    
        flex: 1 1 100vw;
        height: calc(100vh - 10px);
        order: 2;
    }

    footer{
        order: 3;
    }
}